body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f4f4f4;
}

h1{
    color:#2c3e50;
}

nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #3498db;
}

nav a:hover {
    text-decoration: underline;
}

p {
    color: #666;
}